mixin how_it_work
	.how_it_work
		.how_it_work_slider
			.sp-slides
				-for(var i=1;i<=10;i++)
					.sp-slide
						.sp-layer
							figure
								img(src="./img/slide1.jpg")
							.h3 Как работает Амиго?
							.slider-content
								p.stepCount Шаг&nbsp;
									span= i
									|&nbsp;(5-6 минут)
								.content
									p Обратите внимание, что после того, как вы&nbsp;запустили какую-либо программу, процесс подачи моющей жидкости не&nbsp;остановится, пока не&nbsp;закончатся внесенные деньги. Поэтому после того, как вы&nbsp;вымыли машину одной программой, не&nbsp;ждите, когда закончится остановится подача&nbsp;— она не&nbsp;остановится, пока не&nbsp;закончится оплаченное время. Автоматика предполагает, что автовладелец будет переключать программы прямо на&nbsp;ходу. <strong>Поэтому, если вы&nbsp;моете на&nbsp;«Амиго» машину ВПЕРВЫЕ&nbsp;— лучше вносите деньги небольшими суммами, перед началом каждой программы. Так вы&nbsp;сможете понять как работают программы мойки. Приобретя таким образом опыт, вы&nbsp;сможете запускать программы на&nbsp;ходу, тем самым сильно экономить собственное время.</strong>

								a(href="#" data-slide_func="previousSlide") Назад
								a(href="#" data-slide_func="nextSlide") Далее
						.sp-thumbnail
							span(class="icon-step_"+ i)