mixin nav
	nav
		.logo
		ul
			li
				a(href="#how_it_work") Как Это Работает?
			li
				a(href="#how_much") Сколько Стоит?
			li
				a(href="#questions") Вопросы
			li
				a(href="#photo") Фото
			li
				a(href="#actions") Акции
			li
				a(href="#contacts") Контакты
		span.phone +7 (384) 333 22 33