doctype
html
	head
		title Amigo
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		link(href="./img/fav/icons_amigo_16px.png" type="image/png"  rel="shortcut icon")
		link(href="./img/fav/icons_amigo_32px.png" type="image/png" sizes="32x32" rel="apple-touch-icon-precomposed")
		link(href="./img/fav/icons_amigo_48px.png" type="image/png" sizes="48x48" rel="apple-touch-icon-precomposed")
		link(href="./img/fav/icons_amigo_57px.png" type="image/png" sizes="57x57" rel="apple-touch-icon-precomposed")
		link(href="./img/fav/icons_amigo_72px.png" type="image/png" sizes="72x72" rel="apple-touch-icon-precomposed")
		link(href="./img/fav/icons_amigo_114px.png" type="image/png" sizes="114x114" rel="apple-touch-icon-precomposed")
		link(href="./img/fav/icons_amigo_144px.png" type="image/png" sizes="144x144" rel="apple-touch-icon-precomposed")
		link(href="./css/main.css" rel="stylesheet" type="text/css")
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,700,500,500italic,400italic,300italic,300,700italic' rel='stylesheet' type='text/css')
	body
		block content
		#time.modal
			.modal_body
				a(href="#").fancybox-close
				.modal_content
					p
						b Во время счастливых часов вы получаете +30% дополнительно к сумме, которую вносите в терминал оплаты.

					.text_content Счастливые часы наступают в разные дни недели в разное время. Чтобы не пропустить их – подписывайтесь на нашу группу и будьте в курсе акций и последних новостей.
					a(href="#").social.vk ВКонтакте
		//script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="./js/lib/jquery-2.1.3.min.js")
		script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
		script(src="./js/lib/jquery.sliderPro.min.js")
		script(src="./js/lib/jquery.fancybox.pack.js")
		script(src="./js/main.js")