@import "variables";
.paddingBlock(@padding){
	padding-left: @padding;
	padding-right: @padding;
}
.mixin-content{
	width: 100%;
	max-width: @content-width;
	margin: 0 auto;
	@media screen and(max-width: @lg){
		width: auto;
		max-width: none;
		.paddingBlock(30px);
	}
	@media screen and(max-width: @md){
		.paddingBlock(25px);
	}

}